//- Все примеси в этом файле должны начинаться c имени блока (field-toggler)

mixin like-button(likeButtons,title, likes, isRadio)

  //- Принимает:
  //-   likeButtons {array}
  //-     {object}
  //-       likes: ''         {string} - текст рядом с переключателем
  //-       helpText: ''      {string} - пояснение под полем
  //-       mods: ''          {string} - модификаторы обёртки переключателя
  //-       attrs:            {object} - любые атрибуты для input
  //-         name:           {string}
  //-     ...
  //-   title: ''             {string} - общее название группы переключателей
  //-   isRadio: false        {bool}   - флаг «это радиокнопки, а не чекбоксы»
  //- Вызов:
        +like-button([
          {
            likes: 'Переключатель0',
            helpText: 'Подсказка',
            attrs: {
              name: 'check0',
            }
          },
        ])
        +like-button([
          {
            likes: 'Переключатель1',
            helpText: 'Подсказка',
            attrs: {
              name: 'check1',
              checked: true,
            }
          },
          {
            likes: 'Переключатель2',
            helpText: 'Подсказка',
            mods: 'some',
            attrs: {
              name: 'check2',
            }
          },
        ], 'ОбщееНазваниеБлока', true)

  -
    if(typeof(isRadio) !== 'undefined' && isRadio)
      var type = 'radio';
    else
      var type = 'checkbox';

  .like-button&attributes(attributes)
    if(typeof(title) !== 'undefined' && title)
      .like-button__title!= title
    each likeButton in likeButtons
      -
        var allMods = '';
        if(typeof(likeButton.mods) !== 'undefined' && likeButton.mods) {
          var modsList = likeButton.mods.split(',');
          for (var i = 0; i < modsList.length; i++) {
            allMods = allMods + ' like-button__input-wrap--' + modsList[i].trim();
          }
        }
      .like-button__input-wrap(class=allMods)
        label.like-button__name
          input.like-button__input(type=type)&attributes(likeButton.attrs)
          div.like-button__text-wrap
            span.like-button__text-like!= likeButton.likes
        if(typeof(likeButton.helpText) !== 'undefined' && likeButton.helpText)
          .like-button__help-text-wrap
            .like-button__help-text!= likeButton.helpText
